<div class="auditorias-container">

  <div class="auditorias-header">
    <div class="header-content">
      <div class="header-icon">
        <i class="bi bi-people-fill"></i>
      </div>
      <div>
        <h2>Historial de {{ nombreUsuario }}</h2>
      </div>
    </div>
  </div>

  <div *ngIf="cargando" class="loading-container">
    <div class="bi bi-exclamation-triangle-fill spinner-perfil"></div>
    <p>Cargando Historial...</p>
  </div>

  <div *ngIf="!cargando" class="table-container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Busqueda Realizada</th>
      </tr>
      </thead>
      <tbody>
      <tr class="celda" *ngFor="let historial of historiales">
        <td class="busqueda"><span class="busqueda-badge"> {{ historial.busqueda }} </span> <button (click)="buscar(historial)" class="btn-buscar">Buscar</button> </td>
      </tr>
      <tr *ngIf="historiales.length === 0">
        <td colspan="7" class="sin-datos">Tu historial se encuentra vacio</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
